<section class="hero-wrap">
  <div class="hero-inner">
    <div class="hero-row">
      <img class="hero-ferris" src="/assets/images/ferris.svg" alt="" />
      <div class="hero">
        <p>{{ home.hero.title }}</p>
      </div>
    </div>
  </div>
  <img class="wave" src="/assets/images/wave.svg" alt="" />
</section>
